header {
  background-color: #1a202c;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-height:80px;
}

header nav ul {
  display: flex;
  gap: 24px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

header nav ul li a:hover {
  color: #facc15;
}
.padd0{
  padding: 0 10px 0 0  !important;
}